@import "tailwindcss";

/* :root {
  --background: #FAF8F5;          
  --foreground: #2C2420;          
  --navbarground: #F5EDE4;              
  --firstback: #E8D5C4;         
  --secondback: #C9A89A;          
  --accent: #B4846C;               
  --gold: #D4AF7A;             
  --text-light: #6B5B52;        
} */

:root {
  --background: #FAF9FC;            
  --foreground: #2E2433;           
  --navbarground: #F3EEF5;             
  --firstback: #E8DFE8;         
  --secondback: #C9B5C9;         
  --accent: #9B7FA5;             
  --gold: #D4AF7A;               
  --text-light: #6B5D6E;         
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #d0bec2;
    --foreground: ##af9a9e;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins';
}

h2 {
  font-size: 2rem;
  font-family: 'Playfair Display';
}

h1{
  font-size: 2.25rem;       
  font-weight: 300;      
  letter-spacing: 0.025em; 
  color: var(--secondback);
  text-transform: uppercase;
  margin-bottom: 1.5rem;   
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;     
  }
}
